openapi: "3.0.2"
info:
  title: certify-d v1
  contact:
    email: mail@certify-d.darrensemusemu.dev
    name: Certify-docs
    url: https://certify-d.darrensemusemu.dev/support
  description: OpenAPI Spec for certify-d platform
  termsOfService: https://certify-d.darrensemusemu.dev/about/terms-of-service
  version: "1.0"
servers:
  - url: https://certify-d.darrensemusemu.dev/api/v1
    description: Developent server
tags:
  - name: users
    description: Everything about users
paths:
  /health/alive:
    get:
      summary: Application liveness probe
      description: Check whether the application is not in an unresponsive state
      tags:
        - users
      responses:
        "200":
          description: Application is running
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/HealthOk"
        "500": 
          $ref: "#/components/responses/internalServerError429"
security:
  - identitySession: []
components:
  responses:
    unauthorized401:
      description: Unauthorized
      content:
        "application/json":
          schema:
            $ref: "#/components/schemas/Problem"
    forbidden403:
      description: Forbidden
      content:
        "application/json":
          schema:
            $ref: "#/components/schemas/Problem"
    notFound404:
      description: Not Found
      content:
        "application/json":
          schema:
            $ref: "#/components/schemas/Problem"
    notAcceptable406:
      description: Not Acceptable
      content:
        "application/json":
          schema:
            $ref: "#/components/schemas/Problem"
    tooManyRequests429:
      description: Too Many Requests
      content:
        "application/json":
          schema:
            $ref: "#/components/schemas/Problem"
    internalServerError429:
      description: Internal Server Error
      content:
        "application/json":
          schema:
            $ref: "#/components/schemas/Problem"
  schemas:
    HealthOk:
      type: object
      readOnly: true
      additionalProperties: false
      properties:
        status:
          type: string
          maxLength: 32
          pattern: Ok
    Problem:
      description: A Problem Details object (RFC 7807)
      type: object
      additionalProperties: false
      properties:
        type:
          type: string
          format: uri
          description: An absolute URI that identifies the problem type
          default: about:blank  # kept for backwards-compatibility, type will be mandatory in problem-v2
        href:
          type: string
          format: uri
          description: An absolute URI that, when dereferenced, provides human-readable documentation for the problem type (e.g. using HTML).
        title:
          type: string
          description: A short summary of the problem type. Written in English and readable for engineers (usually not suited for non technical stakeholders and not localized).
          example: Service Unavailable
        status:
          type: integer
          format: int32
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
          minimum: 400
          maximum: 600
          exclusiveMaximum: true
          example: 503
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem
        instance:
          type: string
          format: uri
          description: An absolute URI reference that identifies the specific occurrence of the problem. It may or may not yield further information if dereferenced.
      example:
        {
          "type": "urn:problem-type:belgif:payloadTooLarge",
          "href": "https://www.belgif.be/specification/rest/api-guide/problems/payloadTooLarge.html", # location of linked doc will change in the future to recommended URI structure
          "title": "Payload Too Large",
          "status": 413,
          "detail": "Request message must not be larger than 10 MB",
          "instance": "urn:uuid:123e4567-e89b-12d3-a456-426614174000",
          # "limit": 10485760  # additional properties specific to the problem type are allowed
        }
  securitySchemes:
    identitySession:
      type: http
      scheme: bearer
      bearerFormat: JWT